!!!
%html{ 'data-bs-theme' => 'light', 'data-layout' => 'horizontal', 'data-preloader' => 'enable', 'data-sidebar' => 'light', 'data-sidebar-image' => 'none', 'data-sidebar-size' => 'lg', 'data-topbar' => 'dark', lang: 'en' }
  %head
    %title Safe Send
    %meta{ charset: 'utf-8' }
    = favicon_link_tag 'favicon.png'
    %meta{ name: 'description', content: 'Safe Send is a decentralised payment gateway that makes it easy and safe for businesses to accept crypto on Aleph Zero. By utilising a chequeing mechanism, send/collect, it makes crypto payments forgiving enough for mass adoption.' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ property: 'og:image', content: 'favicon.png' }
    %meta{ property: 'og:site_name', content: 'Safe Send' }
    = csrf_meta_tags
    = csp_meta_tag

    // === CUSTOM ===
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'

    // === DATATABLE ===
    %link{ href: 'https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css', rel: 'stylesheet' }
    %script{ src: 'https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js' }
    %script{ src: 'https://cdn.datatables.net/plug-ins/1.13.6/api/processing().js', type: 'text/javascript' }

    // === CLIPBOARD ===
    %script{ src: 'https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js' }
  %body{ class: "rails-env-#{Rails.env}" }
    #layout-wrapper
      = render 'header'
      .main-content
        .page-content
          = yield
      = render 'footer'
    = render 'preloader'
    = render 'polkadot_account_list'
    .modal.fade#about-modal{ 'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', tabindex: '-1' }
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            %h5.modal-title Safe Send
            %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', type: 'button' }
          .modal-body
            %p.text-muted Safe Send is a decentralised payment gateway that makes it easy and safe for businesses to accept crypto on Aleph Zero. By utilising a chequeing mechanism, send/collect, it makes crypto payments forgiving enough for mass adoption.
            %p.text-muted Safe Send also integrates AZERO.ID, to provide an optional, extra layer of protection. It does this by verifying that the recipient's wallet matches the provided AZERO.ID.
            %p.text-muted Safe Send is designed to fit into modern e-commerce workflows.
            .mb-10
              %h5.fs-15 Requirements
              %p.text-muted
                1. A browser extension for signing transactions such as SubWallet, Aleph Zero Signer, Polkadotjs or Talisman.
                %br
                2.
                = link_to 'TZERO', 'https://faucet.test.azero.dev/', target: '_blank', rel: 'noopener'
                for gas
            .mb-10
              %h5.fs-15 Instructions
              %p.text-muted
                1. Sender: Create cheque with recipient's address, crypto, token and memo.
                %br
                2. Sender: Tell recipient that a cheque has been created.
                %br
                3. Recipient: Review details then collect funds.
            %h5.fs-15 References
            %p.text-muted
              1.
              =link_to 'GitHub: az_safe_send', 'https://github.com/btn-group/az_safe_send', target: '_blank', rel: 'noopener'
              %br
              2.
              = link_to 'GitHub: safe_send', 'https://github.com/btn-group/safe_send', target: '_blank', rel: 'noopener'
              %br
              3.
              = link_to 'GitHub: squid_safe_send', 'https://github.com/btn-group/squid_safe_send', target: '_blank', rel: 'noopener'
              %br
              4.
              = link_to 'smartcontracthub.tech', 'https://smartcontracthub.tech', target: '_blank', rel: 'noopener'
